<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Quiz: el juego de las preguntas</h2>
    <%= pregunta %> <p>
    <a href="/quizes/quiestion"> Intentalo otra vez</a>
</body>
</html>
