<form method="post" action="/quizes/answer">
    Pregunta: <%= pregunta %> <p>
    <input type="text" name="respueta" placeholder="Respueta" value="">
    <input type="submit" value="Enviar">
</form>

